@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background-color: hsl(271, 58%, 18%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(271, 58%, 28%);
}

::-webkit-scrollbar {
  width: 0.7rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #353535;
}

html {
  scroll-behavior: smooth;
}

.hover-underline-animation {
  position: relative;
  text-decoration: none;
}

.hover-underline-animation::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover-underline-animation:hover::before {
  transform: scaleX(1);
}